a.donation {
    color: #000000 !important;
    text-decoration: underline !important;
}

div.qtip{
    font-family:'lucida grande', tahoma, verdana, arial, sans-serif;
    font-size: 11px;
    line-height: 14px;
}

a.donation:hover {
    color: #000000;
    text-decoration: underline;
}