#main_container
  #header
    #logo
      img(src="images/ChromeExtensionLogo.png", alt="CharityClickIcon", title="CharityClick icon",  width ="80")
      h1 Charity
        span Click
        sup 1.0
    #topmenu
      ul
        li
          a(href='/index') Home
        li
          a(href='/charity/register') Register your charity
    #spotlite
      h2 See charities to donate to on the hover of your mouse
      h2 How it works
      p
        | Charity Click detects charities registered with us whenever their name is mentioned
        | on any website. If an article or video inspires you and you'd like to help the charity
        | mentioned, simply mouse over the icon
        img(src="images/flying-heart-icon_16.png")
        | &nbsp;and click "donate now" to be taken straight to the charity's secure donation page
        | or click "view charity information" to find out more about them.
  #main_content
    #main-block
      h2 How to get started
      p
        | Just click the "install to chrome". And the next time you see (insert icon) just
        | mouse over the icon and click straight to the charity donation page. It's that simple.
      a(href="http://www.chromeextensions.org/wp-content/uploads/2011/12/charityclicks3.crx")
        img(src="images/AddChrome.png", alt="Install Chrome Extension Now")
      p
        | Please install Chrome Extension and See how it works..
      a(href="http://www.guardian.co.uk/society/2011/dec/04/charities-welcome-cash-for-homes?INTCMP=SRCH", target="_blank") charities-welcome-cash-for-homes
      br
      a(href="http://www.ted.com/speakers/sunitha_krishnan.html", target="_blank") sunitha_krishnan Profile on Ted
      h2 See example below
      img(src="images/Example2.png")
      div(style="clear:both")
  #footer
    #footer-left
      a(href="#logo")
        img(src="images/flying-heart-icon_48.png", alt="", title="")
  #footer-copyright
    p Copyright 2011 CharityClick.net. All Rights Reserved.
    p
      | This site is:
      a(href="http://validator.w3.org/check?uri=referer") XHTML &nbsp;
      | and
      a(href="http://jigsaw.w3.org/css-validator/check/referer") CSS &nbsp;
      | valid
    p
      span Theme
      | 1.0 by:
      a(href="http://fromhell.eu/") Martin "duno" Polacik
